{{ define "main" }}
    <main id="contact" class="hero is-fullheight">
        <div class="hero-body">
            <div class="container">
                <header class="has-text-centered">
                    <h1 class="title is-size-2-desktop is-size-3-touch">
                        Contact
                    </h1>
                    <p class="subtitle is-size-5">
                        {{ .Site.Params.contactPage.subheading }}
                    </p>
                </header>

                <div class="box">
                    <form action="https://formspree.io/f/xeoojbzo" method="post">
                        <div class="field columns">
                            <div class="column is-6">
                                {{ partial "components/form-input.html" (dict "label" "Name" "id" "name" "type" "text" "placeholderText" "John Doe") }}
                            </div>

                            <div class="column is-6">
                                {{ partial "components/form-input.html" (dict "label" "Email Address" "id" "email" "type" "email" "placeholderText" "janedoe@gmail.com") }}
                            </div>
                        </div>

                        <div class="field">
                            {{ partial "components/form-input.html" (dict "label" "Subject" "id" "subject" "type" "text" "placeholderText" "Your subject") }}
                        </div>

                        <div class="field">
                            <label class="label" for="message">
                                <span>Message</span>
                                <span class="has-text-danger">*</span>
                            </label>
                            <div class="control">
                                <textarea id="message" name="message" rows="5" placeholder="Your message" required class="textarea"></textarea>
                            </div>
                        </div>

                        <div class="field has-text-centered">
                            <div class="control">
                                <button type="submit" class="button">
                                    {{ partial "components/button-content.html" (dict "icon" "fa-solid fa-paper-plane" "text" "Send Message") }}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="notification mb-6 has-text-centered">
                    <p class="is-size-5">
                        Prompt Submission Notice
                    </p>
                    <p class="is-size-6">
                        {{ .Site.Params.contactPage.promptSubmissionNotice }}
                    </p>
                </div>

                <div class="has-text-centered">
                    <a class="button home-button is-large is-rounded" href="/">
                        {{ partial "components/button-content.html" (dict "icon" "fa-solid fa-house" "text" "Back To Home") }}
                    </a>
                </div>
            </div>
        </div>

        {{ partial "footer.html" . }}
    </main>
{{ end }}