.button
{
    font-family: $font-tertiary;
    font-weight: $font-weight-medium;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: $font-color-black;

    &.home-button
    {
        width: 400px;
        background-color: #f9f6ee;
        box-shadow: $shadow-light;

        &:hover
        {
            background-color: darken(#f9f6ee, 5%);
        }

        @include mobile()
        {
            width: auto;
        }
    }

    &:not(.is-outlined)
    {
        border-color: transparent;
    }

    &.is-outlined
    {
        transition: border-color $animation-time-short ease, background-color $animation-time-short ease, color $animation-time-short ease;
    }
}