// Sets the font and font color of most content on the site. Keyword: most. This
// doesn't always do its thing so elements have to be targeted later on to ensure
// they receive their intended properties.
body
{
    font-family: $font-secondary;
    color: $font-color-black;
}

h1, h2, h3, h4, h5, h6
{
    font-family: $font-primary;
    color: $font-color-black;
}

p, .title, .subtitle
{
    color: $font-color-black;
}

strong
{
    font-weight: $font-weight-bold;
    color: $font-color-charcoal;
}

em
{
    font-style: italic;
    color: $font-color-charcoal;
}

mark
{
    padding: 0 0.375rem;
    background-color: #fff9c4;
    color: $font-color-licorice;
}

pre, code
{
    font-family: $font-tertiary;
    color: $font-color-black;
}

label
{
    color: $font-color-charcoal !important;
}

input, textarea, select, optgroup
{
    font-family: $font-secondary;
    color: $font-color-black !important;
}

::placeholder
{
    color: $font-color-grey !important;
}