@mixin back-to-home-button()
{
    .home-button
    {
        width: 400px;
        background-color: #f9f6ee;

        &:hover
        {
            background-color: darken(#f9f6ee, 5%);
        }
    }
}