@mixin desktop()
{
    @media screen and (min-width: $breakpoint-desktop)
    {
        @content;
    }
}

@mixin touch()
{
    @media screen and (max-width: $breakpoint-tablet)
    {
        @content;
    }
}

@mixin tablet()
{
    @media screen and (min-width: $breakpoint-tablet-min) and (max-width: $breakpoint-tablet)
    {
        @content;
    }
}

@mixin mobile()
{
    @media screen and (max-width: $breakpoint-mobile)
    {
        @content;
    }
}

@mixin back-to-home-button()
{
    .home-button
    {
        width: 400px;
        background-color: #f9f6ee;
        box-shadow: $shadow-light;

        &:hover
        {
            background-color: darken(#f9f6ee, 5%);
        }

        @include mobile()
        {
            width: auto;
        }
    }
}