#page-404
{
    background: linear-gradient(150deg, #fff0f0, #f8f2f2, #f0e6e9);

    header .title
    {
        color: #ef4444;
    }

    p.is-size-5
    {
        width: 40%;
        margin: 3.5rem auto;
    }

    @include tablet()
    {
        p.is-size-5
        {
            width: 75%;
        }
    }

    @include mobile()
    {
        p.is-size-5
        {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
    }
}