#about
{
    background: linear-gradient(150deg, #f3f1ee, #e6e4e1, #f0e6f2);

    .box
    {
        width: 50%;
        margin: 0 auto;
        padding: 0.5rem;
        border: 3px solid #dcdcdc;
        background-color: #f4f5fa;
        box-shadow: $shadow-medium;

        .ai-contributor
        {
            display: flex;

            .icon i
            {
                color: $font-color-light-grey;
            }

            div
            {
                p.mb-0
                {
                    font-weight: $font-weight-semi-bold;
                    font-size: 1.375rem;
                }

                .tag
                {
                    font-weight: $font-weight-medium;
                    color: $font-color-off-white;
                }
            }
        }
    }

    p.mt-5.is-size-5-desktop.is-size-6-touch.has-text-centered
    {
        width: 50%;
        margin: 0 auto;
    }

    @include tablet()
    {
        .box, p.mt-5.is-size-5-desktop.is-size-6-touch.has-text-centered
        {
            width: 75%;
        }
    }

    @include mobile()
    {
        .box, p.mt-5.is-size-5-desktop.is-size-6-touch.has-text-centered
        {
            width: 100%;
            margin: 0;
        }
    }
}