#contact
{
    background: linear-gradient(150deg, #f5f3f8, #eae6f2, #f0f4fa);

    .box
    {
        width: 50%;
        margin: 5.0rem auto;
        border: 3px solid #e5e4e2;
        background-color: #f5f5f5;
        box-shadow: $shadow-medium;

        input, textarea
        {
            background-color: #fff;
        }
    }

    .notification
    {
        width: 40%;
        margin: 0 auto;
        padding: 1.0rem;
        border: 1px dashed #1e3a8a;
        background-color: #dbeafe;

        p.is-size-5
        {
            font-weight: $font-weight-bold;
        }
    }

    @include tablet()
    {
        .box
        {
            width: 75%;
        }

        .notification
        {
            width: 65%;
        }
    }

    @include mobile()
    {
        .box
        {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }

        .notification
        {
            width: 90%;
        }
    }
}